.susubreddit-container {
    display: none;
}

.featured-subreddits {
    display: none;
}

.subreddits-list {
    display: none;
}

.subreddit-page {
    display: none;
}

hr {
    display: none;
}

@media screen and (min-width: 1680px) { 
    .subreddit-container {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        width: 100%;
        height: fit-content;
        border-radius: 8px;
        box-shadow: 1px 1px 5px -2px #575759;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .featured-subreddits {
        display: block;
        padding-bottom: 5px;
    }
    
    .subreddits-list {
        display: block;
        padding-top: 15px;
    }
    
    .subreddit-page {
        display: block;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    hr {
        display: block;
    }
}
