.subreddit-container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px -2px #575759;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.featured-subreddits {
    padding-bottom: 5px;
}

.subreddits-list {
    padding-top: 15px;
}

.subreddit-page {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
