.filter-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: #f2f2f2;
    border-radius: 0px;
    box-shadow: 1px 1px 5px -2px #575759;
    padding: 20px;
}

.icon {
    padding-right: 3px;
}

.filter-text {
    padding-left: 3px;
    display: none;
}

.all {
    grid-column: 1 / 2;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.hot {
    grid-column: 2 / 3;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.new {
    grid-column: 3 / 4;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.rising {
    grid-column: 4 / 5;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.top {
    grid-column: 5 / 6;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.all:hover, .hot:hover, .new:hover, .rising:hover, .top:hover {
    color: #F23005;
}

@media screen and (min-width: 1225px) {
    .filter-container {
        border-radius: 8px;
        padding: 15px;
    }

    .filter-text {
        display: block;
    }
}