nav {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 8px;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 5px -2px #575759;
    justify-items: center;
}

.logo {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reddit-logo {
    height: auto;
    max-width: 50px;
    align-items: center;
}

.logo h1 {
    display: none;
}

.mini {
    color: #F23005;
}

.search {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}


.about {
    padding-right: 5px;
    transition: 0.2s;
    cursor: pointer;
    display: none;
    text-decoration: none;
    color: #575759;
}

.issue {
    padding-left: 5px;
    padding-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    display: none;
    text-decoration: none;
    color: #575759;
}

.about:hover, .issue:hover {
    color: #F23005;
}

@media screen and (min-width: 965px) {
    nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }
    
    .logo h1 {
        display: block;
    }
    
    .info {
        grid-column: 3 / 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .about {
        display: block;
    }
    
    .issue {
        display: block;
    }
}
