.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 1px 5px -2px #575759;
    padding: 10px;
}

.logo {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.logo img {
    width: 15%;
    padding-left: 18px;
}

.search {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}

.info {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about {
    padding-right: 10px;
    cursor: pointer;
    transition: .2s;
}

.about:hover {
    color: #F23005;
}

.issue {
    padding-left: 10px;
    padding-right: 25px;
    cursor: pointer;
}

.issue:hover {
    color: #F23005;
}

strong {
    color: #F23005;
}

