.subreddit-container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px -2px #575759;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.featured-subreddits {
    padding-bottom: 5px;
}

hr {
    width: 100%;
    border: 0.5px solid #57575971;
}

.subreddits-list {
    padding-top: 15px;
}

.subreddit {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.subreddit-image {
    background-color: #575759;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.subreddit-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.subreddit-info:hover {
    color: #F23005;
}

.subreddit-title {
    padding-bottom: 5px;
}