.foot {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.info-foot {
    display: flex;
}

.about-footer {
    padding-right: 5px;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: #575759;
}

.issue-footer {
    padding-left: 5px;
    padding-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: #575759;
}

.about-footer:hover, .issue-footer:hover {
    color: #F23005;
}

@media screen and (min-width: 1225px) {
    .foot {
        padding: 30px;
    }
}
