.search-container {
    display: flex;
    align-items: center;
}

.input {
    border-radius: 5px;
    border: 0px;
    width: 75px;
    height: 40px;
    border: 0.1px solid #57575944;
    padding: 10px;
    margin-right: 8px;
}

.magnifying-glass {
    display: none;
}

@media screen and (min-width: 235px) {
    .input {
        width: 200px;
    }
}

@media screen and (min-width: 335px) {
    .input {
        width: 250px;
    }
}

@media screen and (min-width: 435px) {
    .input {
        width: 350px;
    }
}

@media screen and (min-width: 535px) {
    .input {
        width: 450px;
    }
}

@media screen and (min-width: 635px) {
    .input {
        width: 550px;
    }
}

@media screen and (min-width: 735px) {
    .input {
        width: 650px;
    }
}

@media screen and (min-width: 835px) {
    .input {
        width: 750px;
    }
}

@media screen and (min-width: 965px) {
    .input {
        width: 650px;
    }
}
