.post-container {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-gap: 25px;
    padding-bottom: 20px;
}

.individual-post {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 1px 1px 5px -2px #575759;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr auto auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    grid-gap: 15px;
}

.post-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-top: 10px;
    grid-gap: 15px;
}

.post-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.post-image-thumbnail {
    width: 100%;
}

.post-share {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-time {
    padding: 5px;
}

.post-vote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post-subreddit-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #575759;
}

.post-on-subreddit {
    padding-bottom: 5px;
}

.post-author {
    display: flex;
    align-items: center;
}

.post-description {
    grid-row: 2 / 3;
}


.comment-container {
    border-top: 0.5px solid #575759;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    transition: 0.2s;
}

.comment-button {
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.post-share-comments {
    padding-left: 5px;
}

.highlight {
    color: #F23005;
}

@media screen and (min-width: 482px) {
    .post-container {
        grid-gap: 15px;
    }
    
    .individual-post {
        display: grid;
        padding: 30px;
        grid-gap: 15px;
    }

    .post-share {
        grid-column: 1 / 4;
    }
    
    .post-author {
        grid-row: 1 / 2;
    }
    
    .post-on-subreddit {
        padding-left: 20px;
    }

    .post-by {
        padding-left: 20px;
    }
}
